Source: anki2go
Section: user/education
Priority: optional
Maintainer: Sandro Giessl <sgiessl@gmail.com>
Build-Depends: debhelper (>= 5), python2.5-qt4, anki
Standards-Version: 3.7.3
Homepage: http://mobileqt.de

Package: anki2go
Architecture: any
Depends: libc6 (>= 2.5.0-1), libgcc1 (>= 1:4.2.1), libstdc++6 (>= 4.2.1), python2.5-qt4, anki
Description: Anki2Go is a lightweight client for reviewing anki decks.
 For the moment, it is intended to run on the Maemo 5 platform with
 PyQt4 bindings and targets the Nokia N900 device.
XSBC-Maemo-Display-Name: Anki2Go
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABHNCSVQICAgI
 fAhkiAAAAAlwSFlzAAAUwwAAFMMBFXBNQgAAABl0RVh0U29mdHdhcmUAd3d3
 Lmlua3NjYXBlLm9yZ5vuPBoAAA29SURBVGiB1ZprbBtXdsd/985whg+REiXq
 aclK5LVlK1Jsy06aTWzVibNonCLAImnsoukjrtugCDZF0N0W/VAUW6DohyJI
 sYDdIt1Fm2ZbNIts4raud43GdmxDiax148SyZMUvSbH1ol6kLPExJGduP1Bk
 KJpyYnnzoQMczMy9h5z//7zuuRzC//NDrDTx7LPPNtu23Qm0KaVcuXHHcSi+
 LjV2p3khxJRS6rxlWRd6enoSv1QCzz//fJtS6i2l1DalFABKqbzc6f5udJfu
 U47jfL+mpuZv33nnHfueCezbt+93gTeUUu6Kigp8Ph+maaJpWl6nGEzxeKmx
 Ql2lFIlEgng8zvT0NKlUCqVUj5Ryz/Hjx+fvlkAe2QsvvNAmhDhimqZ77dq1
 VFZWYhgGuq4jhCgpUkqE+MIGxWOldIUQuFwuvF4vlZWVOI5DMplsAtYMDQ0d
 XjWBrVu3/lwIsbapqQm/359/KJA/fxXgd0NSSkkgECCZTJJOpzevW7fu4+vX
 r1+5GwIS4MCBA81Sym2hUIjy8nKklGiahqZp6Lqev5ZSLnt48XjxXOF9bszr
 9S7Tl1LS1NSErutIKZ+7Ww/oSxbuBKioqMh/qeM4y+I6NwYsmxNClIzz4rlQ
 KMTTTz/NzMwMR44cyXtFKYVhGHi9XuLxeOeqCAgh2jRNo6ysDE3T8oBzQHKA
 cyRywEpVlwceeIDa2loikQgTExOMj4/z2GOP8eST30JKgbbk0WKSPp8Py7La
 VkVA13WX4ziYpnmbhYutX0io8DpHTErJzp078w+wLAvTNOkZS6Ih2FRbm8+P
 QvKGYaBpmr4qArlY1XUdx3FWDKEc0ML5Yk+Fw2EA3vssRjhus63OZDi6yMmR
 JHs3+TCzQG/zXi5HVk1AKZVPvFJhUuyNlUjOz88zF43SUePlw/NJhiMZpIRq
 n4ahCVy6zu7duzl9+jSZTCYPJPfsVRHIWb44/osBFpMoJpkjdmNkhM1bttBc
 7iKZcdCEQJMwOJui2qexc+dO7rv/fn7y9tvE4/F78oDMeSBXEgulsIQWl9PC
 +0Kdqqoq2tvbGZ3P4NYEVR5JyCsJeTT8hqRvKsWVuTRNjY3s378/X7ZzsioP
 5Cye+4JSlac4fErFP0BXVxdKSD6dSlLllWgCNJn1wLqgizVlGmWGZHExRm9v
 L/F4fJkBV0XAcZy8RXOJVQp4YdkrFVbBYJCWlhZsBTub3OhCkXLg8lwaUxO0
 VroIh6fo/uQ8ly5dIpVK3bbQrYrAa6+9hqZpvPjii+i6js/nw+/3U15eTiAQ
 wDTNFYEXWt/r9dLf34/P58MwDJRSNDU10VopSNlZnZMnTzA5OZkvGjkD3lMI
 Adi2TTqdJpVKEYvFCIfDeYAul4vy8nJqamqor6/Pg8sBz3koHA4TDofz3gJ4
 9NFH6ejowFGChcVFZmZmlrUYhQm8ag/kjsKYLpRMJsPMzAzT09MMDAwQDAZp
 aGigrq4O0zRXzBWlFD09PbhcLjZu3MjFvr7bWpWcB+6pjH4ZgWKJRCLMzc1x
 8eJFKisrqa+vp76+HrfbvaxFyIHr7u7GsiwuX768bLEsXMG/Vg8UixCC7du3
 09vbmyfT399PMBikvr6ehoYGPB7PMqAff/zxbYtlcWW7ZwKFS3xxkhYu/QcO
 HKCrq4vr169z8ODBfFJGo1EikQgDAwPU1tbS2tpKRUVFyepVaKzcurKaEFr2
 ieI+vbC85WTz5s10dXUxbzmsW7eOl19++bY9gZSSqakpzpw5Q09PD5FIpORC
 WSj3tBJ/GYFC2bZtGwC/eXiKY9fjrF+/nqeeeqokICklMzMzdHd3093dzezs
 7IrAv1YPFHpi69atLKQcTo4k+KOfz7CQcti7dx9r1qxZ0WuaphGJRPjoo484
 c+YM09PTy9qPeymjywiUskwhqI0bNxIIBDh2PftTzufzGV79n1kMw8VLL72U
 B3MniUaj9PT0cOrUKcLh8G0k7vZYsQrlkq4w+bZv3w7Az67FCRiSpK34cf8i
 32718cz6Fg4dOoRt28uS07JSnDhxnPfff59YLJafm5+f5+zZs9TV1dHZ2fn1
 rQOmadLa2kp7eztbtmzhluVwftLCbwoMW2BlFK++P8vagI7P0NGlC5cEKQUZ
 RxEq97J3714WFhb44IMP8hUtR3R8fJyZmRmCwSChUOiXQ8Dj8bBjxw42bNhA
 U1NT3jK3LIefXFrEowuEkFgZhaVBMuOw+98msGxFMqPIONlya2iCj36vgW31
 JlevXsW2beLxOLFYjEQiQSaTwTRNPB4P58+fX7bBWRUBTdMIBoPs37+fUCiE
 AsYWMvSFk5ybsBiYTpFIK/ymxLAVlqawbLVERJHMgKGBlQHLhkNPhdhWb/Lp
 p58yMjLCVHiK+aEwD8/U0ppuoly5GdJm6fWNsuC6xXh4AsAErFV7oKWlhVAo
 RDTp8I+fLDCbsLMAbYXPkOhSZcEvgS48GzlCmuL5TT7+YIufsfFxDh48yOiN
 mzRfkhy89RvUKP8XD82AYzn8VLvAn/JT4qRagUEg/VUI5NJ+F7Br165dhMNh
 Nm7cSHUwQEvQxcSiTdrJbkp0IdBLnaXIzi+NPVhj8saeajKpFH/3+uuMDA8j
 LkZ4Y+45yjAZkBP8i3GO066rmI5OvaqgQ9VTTzknuBy2cQaBWAFOwQq/pC8j
 8PjjjwPw2WefUVNTQ3N9iAdrDRJph2hS5cEWSo5Y7hx0a/zDnhBBj8abb77J
 wMAAI9eHeWWok/tVFae1q/zZuhNE20wmGx2OeAe5sjDK7swG2mngAqMVnzN9
 xoFpwAVUAJVAADAAB7BLEnjiiScQQpBKpejr6yORSLDhG+vYVG1S4ZZMxDJI
 yFt6GfglCXk1fqfDz82bNzl8+DDxWIxU3zTfvdWFQvHnVceo2XIfdfX1lFdU
 UOYvoy8zyubZEHUESJJ2H2XgY+AW0C6Rewz0PTraDgH3S5TmQBxIAuqOzdy5
 c+e4ceMGe/fu5cGaShxHceZmMl99DBssDaylcmppikRa8fl8hqY1aygrKyMy
 N0dVwkQgmBIxZkI29eXl+dZbSknT/Wv57uh/sXWhljniN4Ggjty7i9bnXmHX
 pg3UGABXmEod4tTgB1z+5zTOu8Dkl7YSU1NTHD16FABTFwRMScCU+E1JwMhe
 BwxBwBQEDIHflFyYSiGlpL29HUcpvE72BU+CFC539oetRCLB3Nwc0WgUKSW3
 Kh3e4ixH6PuRBLmP7fv/lf2dj9LiqaJMVuGTj9LieYv9nft46DsaPAR4v9J+
 QNezai5N4DckpqYwliyethWJgupj2IorsylY76WtrY0jR47gWyIQF2k0XSOV
 SjFybYj119xoGZAIdlgNPEyIaRZe/QWfR7/Ht1o0BBb2OYH6gcTl2KT/2ER/
 5Hs8+Y3/5MIzCyT7vhIBwzBgKfYDpsyXzGqvxsMNJlHLYXA6xcXpFNGkk5fW
 1o2YpolrqVpnyCCkwLFt7NkEr0efv62q9DF23yFO241UyAz2gob2Sh1a3yig
 w7U09ok1VPi/zZZdP+bsD1fMgcJNjMuVtaCxRCCjK5ordBr9Okop6nwadT4P
 v9rsZmQ+w6fhFMPRNB0hncbGRmbEKAAeXKBA03UoMzhsXkSzBSjFWjvIFhoR
 IJqp1LKE1bDEGhf8RQJgjL+edNCGXfDgWoIBHSpzBNIAi4uL+P3+25o4t9ud
 D6Ear0ZDmYapC+bm5jh8+DDJZJL29nY6OjpoqaykpSJL2HEcbNsmIVNZAspA
 2Q4ej4f1Ha282xDGsiwikQiP9JezxW7EwqaaMgEgYNFA5PsLA5GxYBEghM+l
 wJcjcAlgbGyMtra2kmEEEHQLQh4NIQSffPIJx48fz72k48yZM5w6dYrGxka2
 bt1KIBBgcXGReCxGwpUt2wHcpGIWQghqamqoqqoimUwyNDRErcoaaYwI8ySX
 YCmPwJMvNNnrpBvgFlYGsHIEzgP09/fT3t5+G/hr166xe/dudF0nnU5z7Ngx
 Ll26dNveVgjB+Pg4Y2NjX3wemKhOc2smQUB5+OZ4LTcnJ/P7jsXFRSZvjPNr
 zq8DMMS0PUFUZUNeNKRJVSi+Hz4FpHHKBaIBYJL5uA2R3EI2DzwzOjra0Nra
 SlVV1bIXdbZtMz09TX9/P6dPnyYcDq/45rKUxByLqZuTPJxey6Z0DSdn+7gW
 G2dyYpLwlVH+ZPghvkkLUeLqVd7pv0lk9rf5lWoPrrI0jkziulGNWZ3B/kMT
 bXectPorjn60SOy9wi1QN3BgcHBQb25uJhQKLQMRiURYWFjAtu27Aq9pGoZh
 0L0wyMPTtaxVQZ5JbOKRqTp2TDTwncgjtFFPgjR/yX9f7WH47xdJXgzh69xG
 s09Hbk+jfsvB+X0TvQsE/8SHc//BhTdSqF8UEpgGblqWtae3t1efn59HCIHb
 7cbtdn8pUKDkuJQSwzBweU3eVv9Lej7O+kw1dSpAnQqggF5GnJf5996TXP6B
 jXPUQX3ew7DhxVjXToPXRHdrSDNJWv2QD2f/hmM/s7DfBUZLdXhtwFvAthJz
 93xIBAYaLVTjx62uMDEQI/Weg3MyA/1AlGyP1uxC2+VD79rM2o0AFxgdjJHq
 TmOfBa4BiRX/7AE0A51LhFx30Ls7/NkNy4IGVyVcTWfzb5Hs2QJy/1XQyHag
 5QZ4AFKQWNJbINuRqjsR+DqP4ueqklpfQff/AKA3WpPrZ1fuAAAAAElFTkSu
 QmCCiVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABHNCSVQICAgI
 fAhkiAAAAAlwSFlzAAAUwwAAFMMBFXBNQgAAABl0RVh0U29mdHdhcmUAd3d3
 Lmlua3NjYXBlLm9yZ5vuPBoAAA29SURBVGiB1ZprbBtXdsd/985whg+REiXq
 aclK5LVlK1Jsy06aTWzVibNonCLAImnsoukjrtugCDZF0N0W/VAUW6DohyJI
 sYDdIt1Fm2ZbNIts4raud43GdmxDiax148SyZMUvSbH1ol6kLPExJGduP1Bk
 KJpyYnnzoQMczMy9h5z//7zuuRzC//NDrDTx7LPPNtu23Qm0KaVcuXHHcSi+
 LjV2p3khxJRS6rxlWRd6enoSv1QCzz//fJtS6i2l1DalFABKqbzc6f5udJfu
 U47jfL+mpuZv33nnHfueCezbt+93gTeUUu6Kigp8Ph+maaJpWl6nGEzxeKmx
 Ql2lFIlEgng8zvT0NKlUCqVUj5Ryz/Hjx+fvlkAe2QsvvNAmhDhimqZ77dq1
 VFZWYhgGuq4jhCgpUkqE+MIGxWOldIUQuFwuvF4vlZWVOI5DMplsAtYMDQ0d
 XjWBrVu3/lwIsbapqQm/359/KJA/fxXgd0NSSkkgECCZTJJOpzevW7fu4+vX
 r1+5GwIS4MCBA81Sym2hUIjy8nKklGiahqZp6Lqev5ZSLnt48XjxXOF9bszr
 9S7Tl1LS1NSErutIKZ+7Ww/oSxbuBKioqMh/qeM4y+I6NwYsmxNClIzz4rlQ
 KMTTTz/NzMwMR44cyXtFKYVhGHi9XuLxeOeqCAgh2jRNo6ysDE3T8oBzQHKA
 cyRywEpVlwceeIDa2loikQgTExOMj4/z2GOP8eST30JKgbbk0WKSPp8Py7La
 VkVA13WX4ziYpnmbhYutX0io8DpHTErJzp078w+wLAvTNOkZS6Ih2FRbm8+P
 QvKGYaBpmr4qArlY1XUdx3FWDKEc0ML5Yk+Fw2EA3vssRjhus63OZDi6yMmR
 JHs3+TCzQG/zXi5HVk1AKZVPvFJhUuyNlUjOz88zF43SUePlw/NJhiMZpIRq
 n4ahCVy6zu7duzl9+jSZTCYPJPfsVRHIWb44/osBFpMoJpkjdmNkhM1bttBc
 7iKZcdCEQJMwOJui2qexc+dO7rv/fn7y9tvE4/F78oDMeSBXEgulsIQWl9PC
 +0Kdqqoq2tvbGZ3P4NYEVR5JyCsJeTT8hqRvKsWVuTRNjY3s378/X7ZzsioP
 5Cye+4JSlac4fErFP0BXVxdKSD6dSlLllWgCNJn1wLqgizVlGmWGZHExRm9v
 L/F4fJkBV0XAcZy8RXOJVQp4YdkrFVbBYJCWlhZsBTub3OhCkXLg8lwaUxO0
 VroIh6fo/uQ8ly5dIpVK3bbQrYrAa6+9hqZpvPjii+i6js/nw+/3U15eTiAQ
 wDTNFYEXWt/r9dLf34/P58MwDJRSNDU10VopSNlZnZMnTzA5OZkvGjkD3lMI
 Adi2TTqdJpVKEYvFCIfDeYAul4vy8nJqamqor6/Pg8sBz3koHA4TDofz3gJ4
 9NFH6ejowFGChcVFZmZmlrUYhQm8ag/kjsKYLpRMJsPMzAzT09MMDAwQDAZp
 aGigrq4O0zRXzBWlFD09PbhcLjZu3MjFvr7bWpWcB+6pjH4ZgWKJRCLMzc1x
 8eJFKisrqa+vp76+HrfbvaxFyIHr7u7GsiwuX768bLEsXMG/Vg8UixCC7du3
 09vbmyfT399PMBikvr6ehoYGPB7PMqAff/zxbYtlcWW7ZwKFS3xxkhYu/QcO
 HKCrq4vr169z8ODBfFJGo1EikQgDAwPU1tbS2tpKRUVFyepVaKzcurKaEFr2
 ieI+vbC85WTz5s10dXUxbzmsW7eOl19++bY9gZSSqakpzpw5Q09PD5FIpORC
 WSj3tBJ/GYFC2bZtGwC/eXiKY9fjrF+/nqeeeqokICklMzMzdHd3093dzezs
 7IrAv1YPFHpi69atLKQcTo4k+KOfz7CQcti7dx9r1qxZ0WuaphGJRPjoo484
 c+YM09PTy9qPeymjywiUskwhqI0bNxIIBDh2PftTzufzGV79n1kMw8VLL72U
 B3MniUaj9PT0cOrUKcLh8G0k7vZYsQrlkq4w+bZv3w7Az67FCRiSpK34cf8i
 32718cz6Fg4dOoRt28uS07JSnDhxnPfff59YLJafm5+f5+zZs9TV1dHZ2fn1
 rQOmadLa2kp7eztbtmzhluVwftLCbwoMW2BlFK++P8vagI7P0NGlC5cEKQUZ
 RxEq97J3714WFhb44IMP8hUtR3R8fJyZmRmCwSChUOiXQ8Dj8bBjxw42bNhA
 U1NT3jK3LIefXFrEowuEkFgZhaVBMuOw+98msGxFMqPIONlya2iCj36vgW31
 JlevXsW2beLxOLFYjEQiQSaTwTRNPB4P58+fX7bBWRUBTdMIBoPs37+fUCiE
 AsYWMvSFk5ybsBiYTpFIK/ymxLAVlqawbLVERJHMgKGBlQHLhkNPhdhWb/Lp
 p58yMjLCVHiK+aEwD8/U0ppuoly5GdJm6fWNsuC6xXh4AsAErFV7oKWlhVAo
 RDTp8I+fLDCbsLMAbYXPkOhSZcEvgS48GzlCmuL5TT7+YIufsfFxDh48yOiN
 mzRfkhy89RvUKP8XD82AYzn8VLvAn/JT4qRagUEg/VUI5NJ+F7Br165dhMNh
 Nm7cSHUwQEvQxcSiTdrJbkp0IdBLnaXIzi+NPVhj8saeajKpFH/3+uuMDA8j
 LkZ4Y+45yjAZkBP8i3GO066rmI5OvaqgQ9VTTzknuBy2cQaBWAFOwQq/pC8j
 8PjjjwPw2WefUVNTQ3N9iAdrDRJph2hS5cEWSo5Y7hx0a/zDnhBBj8abb77J
 wMAAI9eHeWWok/tVFae1q/zZuhNE20wmGx2OeAe5sjDK7swG2mngAqMVnzN9
 xoFpwAVUAJVAADAAB7BLEnjiiScQQpBKpejr6yORSLDhG+vYVG1S4ZZMxDJI
 yFt6GfglCXk1fqfDz82bNzl8+DDxWIxU3zTfvdWFQvHnVceo2XIfdfX1lFdU
 UOYvoy8zyubZEHUESJJ2H2XgY+AW0C6Rewz0PTraDgH3S5TmQBxIAuqOzdy5
 c+e4ceMGe/fu5cGaShxHceZmMl99DBssDaylcmppikRa8fl8hqY1aygrKyMy
 N0dVwkQgmBIxZkI29eXl+dZbSknT/Wv57uh/sXWhljniN4Ggjty7i9bnXmHX
 pg3UGABXmEod4tTgB1z+5zTOu8Dkl7YSU1NTHD16FABTFwRMScCU+E1JwMhe
 BwxBwBQEDIHflFyYSiGlpL29HUcpvE72BU+CFC539oetRCLB3Nwc0WgUKSW3
 Kh3e4ixH6PuRBLmP7fv/lf2dj9LiqaJMVuGTj9LieYv9nft46DsaPAR4v9J+
 QNezai5N4DckpqYwliyethWJgupj2IorsylY76WtrY0jR47gWyIQF2k0XSOV
 SjFybYj119xoGZAIdlgNPEyIaRZe/QWfR7/Ht1o0BBb2OYH6gcTl2KT/2ER/
 5Hs8+Y3/5MIzCyT7vhIBwzBgKfYDpsyXzGqvxsMNJlHLYXA6xcXpFNGkk5fW
 1o2YpolrqVpnyCCkwLFt7NkEr0efv62q9DF23yFO241UyAz2gob2Sh1a3yig
 w7U09ok1VPi/zZZdP+bsD1fMgcJNjMuVtaCxRCCjK5ordBr9Okop6nwadT4P
 v9rsZmQ+w6fhFMPRNB0hncbGRmbEKAAeXKBA03UoMzhsXkSzBSjFWjvIFhoR
 IJqp1LKE1bDEGhf8RQJgjL+edNCGXfDgWoIBHSpzBNIAi4uL+P3+25o4t9ud
 D6Ear0ZDmYapC+bm5jh8+DDJZJL29nY6OjpoqaykpSJL2HEcbNsmIVNZAspA
 2Q4ej4f1Ha282xDGsiwikQiP9JezxW7EwqaaMgEgYNFA5PsLA5GxYBEghM+l
 wJcjcAlgbGyMtra2kmEEEHQLQh4NIQSffPIJx48fz72k48yZM5w6dYrGxka2
 bt1KIBBgcXGReCxGwpUt2wHcpGIWQghqamqoqqoimUwyNDRErcoaaYwI8ySX
 YCmPwJMvNNnrpBvgFlYGsHIEzgP09/fT3t5+G/hr166xe/dudF0nnU5z7Ngx
 Ll26dNveVgjB+Pg4Y2NjX3wemKhOc2smQUB5+OZ4LTcnJ/P7jsXFRSZvjPNr
 zq8DMMS0PUFUZUNeNKRJVSi+Hz4FpHHKBaIBYJL5uA2R3EI2DzwzOjra0Nra
 SlVV1bIXdbZtMz09TX9/P6dPnyYcDq/45rKUxByLqZuTPJxey6Z0DSdn+7gW
 G2dyYpLwlVH+ZPghvkkLUeLqVd7pv0lk9rf5lWoPrrI0jkziulGNWZ3B/kMT
 bXectPorjn60SOy9wi1QN3BgcHBQb25uJhQKLQMRiURYWFjAtu27Aq9pGoZh
 0L0wyMPTtaxVQZ5JbOKRqTp2TDTwncgjtFFPgjR/yX9f7WH47xdJXgzh69xG
 s09Hbk+jfsvB+X0TvQsE/8SHc//BhTdSqF8UEpgGblqWtae3t1efn59HCIHb
 7cbtdn8pUKDkuJQSwzBweU3eVv9Lej7O+kw1dSpAnQqggF5GnJf5996TXP6B
 jXPUQX3ew7DhxVjXToPXRHdrSDNJWv2QD2f/hmM/s7DfBUZLdXhtwFvAthJz
 93xIBAYaLVTjx62uMDEQI/Weg3MyA/1AlGyP1uxC2+VD79rM2o0AFxgdjJHq
 TmOfBa4BiRX/7AE0A51LhFx30Ls7/NkNy4IGVyVcTWfzb5Hs2QJy/1XQyHag
 5QZ4AFKQWNJbINuRqjsR+DqP4ueqklpfQff/AKA3WpPrZ1fuAAAAAElFTkSu
 QmCC
